@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botão-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --main-font:'Inter';
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 400;

}
.main{
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__btn{
    background-color: var(--botão-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.second__btn{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container__warn{
    font-size: 12px;
    color: var(--cinza-secundario); 
}

.container__title{
    font-size: 28px;
    font-weight: 700;
}
.container__img{
    margin: 1.5em 0 2em 0;
}
.container__box{
    margin: 0 6em;
}

.second{
    align-items: center;
    margin: 0 7em;
}

.second__img{
    width: 35em;
}

.description__title{
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 0.2em;
}
.thrid__btn{
    display: inline-block;
    margin-top: 1em;
}

.container__description{
    padding: 2em;
}

.devices{
    margin: 6em;
    text-align: center;
}
.devices__list{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0px;
}

.list__item{
    font-size: 1.6em;
}
.foot{
    text-align: center;
    margin: 5em 3em;
}
.foot__list{
    display: flex;
    list-style-type: none;
    gap: 25px;
    margin-top: 1em;
    justify-content: center;
}

.list__link{
    text-decoration: none;
}